# fastapi
# uvicorn[standard]
# python-dotenv
# pydantic
# langchain
# langchain-core
# langchain-huggingface
# langchain-google-genai
# transformers
# accelerate
# bitsandbytes
# qwen-vl-utils
# sentence-transformers
# torch


fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain
langchain-core
langchain-huggingface
langchain-google-genai
sentence-transformers
torch
requests